.articles {

    .container{
        padding: 2.25rem 1rem;
    }

    background-color: $veryLightGray;

    .articleH2 {
        position: relative;
        text-align: center;
        margin-top: 1rem;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            right: 0;
            height: 5px;
            bottom: -13px;
            width: 65%;
            background: linear-gradient(to right, $limeGreen, $brightCyan);
            border-radius: 50px;

            @include breakpoint-up(medium) {
                width: 22%;
            }

            @include breakpoint-up(large) {
                width: 18%;
            }
        }
    }


    .article {


        &__grid {
            display: grid;
            // Auto fit se usa para que si el contenido crece o decrece este se va a adapatar automaticamente, si ponemos auto fill si el contenido crece se van a crear mas columnas y eso no lo queremos.
            // grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr)); //230px
            // row-gap: 2rem;
            // column-gap: 2rem;

            // Lo de arriba es una automatizacion de lo que hace el codigo de aca abajo, pero tiene una desventaja que es que llega un momento en la pantalla en el que quedan 3 columnas arriba y 3 abajo.
            // Por eso si queremos algo mas estricto hacemos lo de abajo, con sus media querys correspondientes.

            grid-template-columns: 1fr;
            row-gap: 2rem;
            margin-top: 5rem;

            @include breakpoint-up(medium) {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 3rem;
            }

            @include breakpoint-up(large) {
                grid-template-columns: repeat(4, 1fr);
                column-gap: 2rem;
                margin-top: 5rem;
                margin-bottom: 7rem;
            }
        }

        &__item {
            border-radius: 1rem;
            text-align: center;
            border: .5px solid $grayishBlue;
            background-color: $white;
            overflow: hidden;
            box-shadow: 0px 3px 12px rgba(0, 0, 0, .1);

            transition: transform .2s ease-in-out;

            &:hover {
                transform: scale(1.025);
            }

            .article__image {
                height: 12.5rem; //200px
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 1rem 1rem 0 0;

                &.one {
                    background-image: url("/images/image-currency.jpg");
                }

                &.two {
                    background-image: url("/images/image-restaurant.jpg");
                }

                &.three {
                    background-image: url("/images/image-plane.jpg");
                }

                &.four {
                    background-image: url("/images/image-confetti.jpg");
                }
            }
        }

        &__title {
            margin: 1rem 1rem;
            text-align: left;
        }

        &__description {
            margin: 0 1rem;
            text-align: left;
            font-size: .875rem;
        }

        &__autor {

            .gridP {
                text-align: right;
                font-size: .8rem;
                margin-bottom: .5rem;
                margin-right: 1rem;
            }
        }

    }
}